<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- inclusión de bootstrap -
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
-->
<dom-module id="logout-usuario-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-5"> Logout usuario </h1>
    </div>

    <input type="id" placeholder="Text" value="{{id::input}}">

    <button class="btn-warning" on-click="logout">logout</button>

    <iron-ajax
      id = "doLogout"
      url = "http://localhost:3000/apitechu/v2/logout"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageLogoutResponse"
      on-error = "manageErrorResponse">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuarioApp extends Polymer.Element {
      static get is() { return 'logout-usuario-app'; }
      static get properties() {
        return {
          id: {
            type: String
          }
        };
      }
      logout() {
        console.log("boton pulsado");

        var logoutData = {
          "id" : this.id
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        console.log("logout enviado");
      }
      manageLogoutResponse(data) {
        console.log("Recibida respuesta");
        console.log(data.detail.response);
      }
      manageErrorResponse() {
        console.log("Error recibido");
        console.log(error);
      }
    };

    window.customElements.define(LogoutUsuarioApp.is, LogoutUsuarioApp);
  </script>
</dom-module>
