<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- inclusión de bootstrap -
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
-->
<dom-module id="visor-usuario-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-5"> Visor usuario </h1>
      <br>
      <h2 class="col-md-3"> Hello Mr [[last_name]], [[first_name]] </h2>
      <h2 class="col-md-3"> your email is [[email]] </h2>
      <br>
    </div>
    <button class="btn btn-link"> <a href="/user/{{id}}/contracts"> Mis contratos </a></button>

    <iron-ajax
      auto = ""
      id = "getUser"
      url = "http://localhost:3000/apitechu/v1/users/{{id}}"
      handle-a = "json"
      on-response = "showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuarioApp extends Polymer.Element {
      static get is() { return 'visor-usuario-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id: {
            type: Number
          },
          email: {
            type: String
          }
        };
      }
      showData(data) {
        // console.log(data);
        console.log("datos de usaurio");
        console.log(data.detail.response.id);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
    }

    window.customElements.define(VisorUsuarioApp.is, VisorUsuarioApp);
  </script>
</dom-module>
