<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">


<dom-module id="change-password">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="/styles/flaty/bootstrap.min.css">
    
    <div class="jumbotron" align="left">  
      <paper-input id="password_input"
                  value="{{password::input}}"
                  label="password" 
                  type="password"
                  required 
                  error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <iron-icon icon="https" slot="prefix"></iron-icon>
      </paper-input>
      <paper-input id="repeated_input"
                  value="{{repeated::input}}"
                  label="repetir password" 
                  type="password"
                  required 
                  error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <iron-icon icon="https" slot="prefix"></iron-icon>
      </paper-input>

      <p class="text-muted">Alta de nueva contraseña.</p>
      <div align="center"> 
        <button type="button" class="btn btn-success btn-lg" on-click="do_reset">Aceptar</button>
      </div>
    </div>

    <iron-ajax
      id = "doReset"
      url = "http://localhost:3000/moneyTracker/v1/user/action/reset"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageResetResponse"
      on-error = "manageErrorResponse"-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ChangePassword extends Polymer.Element {
      static get is() { return 'change-password'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String,
          },
          repeated: {
            type: String
          },
          token: {
            type: String
          }
        };
      }
      do_reset() {
        console.log("boton pulsado");

        if (this.password != this.repeated) {
          console.log("Los campos no son iguales");
        } else {
          this.$.doReset.headers['token']=this.token;
          this.$.doReset.body = JSON.stringify({'password' : this.password});
          this.$.doReset.generateRequest();
          console.log("Peticion enviada");
        }
      }
      manageResetResponse(data) {
        console.log("manageResetResponse" + data);
      }
      manageErrorResponse(error) {
        // Si el usuario ya está logado 
        console.log("Error recibido");
        //console.log(error.detail.request.xhr.response.err);
        console.log(error.detail.request.xhr.response.err);
      }
    };

    window.customElements.define(ChangePassword.is, ChangePassword);
  </script>
</dom-module>
