<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../visor-usuario-app/visor-usuario-app.html">
<link rel="import" href="../login-usuario-app/login-usuario-app.html">
<link rel="import" href="../logout-usuario-app/logout-usuario-app.html">
<link rel="import" href="../visor-contratos-app/visor-contratos-app.html">

<dom-module id="test-iron-pages">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <div class="jumbotron">
     <h1>TEST IRON PAGES</h1>
   </div>

<!--
   <input type="text" value="{{componentName::input}}" placeholder="Nombre de componente"></input>
-->
<select id="selCombo" SIZE=1 value="{{componentName::change}}">
  <option value="login-usuario-app">login</option>
  <option value="logout-usuario-app">logout</option>
  <option value="visor-usuario-app">user</option>
  <option value="visor-contratos-app">contracts</option>
</select>

   <iron-pages selected="[[componentName]]", attr-for-selected="component-name">
      <div component-name="login-usuario-app"><login-usuario-app></div>
      <div component-name="logout-usuario-app"><logout-usuario-app></div>
      <div component-name="visor-usuario-app"><visor-usuario-app id="1"></div>
      <div component-name="visor-contratos-app"><login-usuario-app></div>
   </iron-pages>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class TestIronPages extends Polymer.Element {
     static get is() { return 'test-iron-pages'; }
     static get properties() {
       return {
         componentName : {
           type: String
         }
       };
     }
   }

   window.customElements.define(TestIronPages.is, TestIronPages);
 </script>
</dom-module>
