<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">


<dom-module id="login-usuario-app">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="/styles/flaty/bootstrap.min.css">

    <!--
    <input type="email" placeholder="Email" ">
    <input type="password" placeholder="Password" value="{{password::input}}">
    -->
    <paper-progress indeterminate class="blue" hidden$="{{!loading}}" style="width:100%;"></paper-progress>
    <div class="jumbotron" align="left">  
      <paper-input id="email_input"
                  label="email"
                  value="{{email::input}}"
                  required 
                  error-message="Cuenta de correo no valida"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <iron-icon icon="mail" slot="prefix"></iron-icon>
      </paper-input>
      <paper-input id="password_input"
                  value="{{password::input}}"
                  label="password" 
                  type="password"
                  required 
                  error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <iron-icon icon="https" slot="prefix"></iron-icon>
      </paper-input>
      <p><a href="https://laguiadelasvitaminas.com/pastillas-para-mejorar-la-memoria/" align>¿Has olvidado la contraseña?</a></p>
      <label class="form-check-label" hidden$="{{!isLogged}}">
          <input id="check_force" class="form-check-input" type="checkbox" checked="{{force::change}}">
          Forzar cierre de sesion anterior
      </label> <br>
      <p class="text-muted">Si continuas, aceptas todo lo que necesitemos que aceptes.</p>
      <div align="center"> 
        <button type="button" class="btn btn-success btn-lg" on-click="do_login">Aceptar</button>
        <button type="button" class="btn btn-outline-danger btn-lg" on-click="cancel_login">Cancelar</button>
        <br><br>
        <button type="button" class="btn btn-outline-success btn-lg" on-click="new_user">Es mi primera vez...</button>
      </div>
    </div>

    <!--div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Atencion!</h4>
        <p class="mb-0">{{err_message}} <a href="#" class="alert-link">aqui</a>.</p>
    </div-->
    <span hidden$="{{!isLogged}}">
      Usuario logado correctamente... 
    </span>


    <iron-ajax
      id = "doLogin"
      url = "http://localhost:3000/moneyTracker/v1/login"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageLoginResponse"
      on-error = "manageErrorResponse">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuarioApp extends Polymer.Element {
      static get is() { return 'login-usuario-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String,
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }
      do_login() {
        console.log("boton pulsado");

        this.loading = true;        
        
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        console.log("force? " + this.$.check_force.checked);
        if (this.$.check_force.checked) {
          this.$.doLogin.headers['forcelogin']='true';
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }
      manageLoginResponse(data) {
        this.loading = false;
        this.isLogged = true;
        console.log("Recibida respuesta" + data);
        console.log(data.detail);
        console.log(data.detail.response);
        window.sessionStorage.setItem('auth_token', data.detail.response.auth_token );
        
        window.location = "/user/"+data.detail.response._id

      }
      manageErrorResponse(error) {
        this.loading = false;
        // Si el usuario ya está logado 
        console.log("Error recibido");
        console.log(error.detail.request.xhr.response);
        console.log(error.detail.request.xhr.status);
        if (error.detail.request.xhr.response.code == "userAlreadyLogged") {
          this.isLogged = true;
          this.err_message = "Ya existe una sesión abierta. Si quieres continuar selecciona la opción 'forzar' ";

        } else {
          this.err_message = error.detail.request.xhr.response.err;
        }
      }
      cancel_login() {
        console.log('cancel login pressed')
        this.loading = false;
      }
      new_user() {
        console.log('new user pressed')
        this.loading = true;
      }
    };

    window.customElements.define(LoginUsuarioApp.is, LoginUsuarioApp);
  </script>
</dom-module>
