<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h3>Soy el receptor </h3>
   <h3>Este es el curso {{course}} </h3>
   <h3>en el año {{year}} </h3>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorEvento extends Polymer.Element {
     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
         course : {
           type: String,
           observer : "_courseChanged"
         },
         year : {
           type: Number
         }
       };
     }
     showData(data) {
       console.log("Datos recibidos en el receptor");
       console.log(data);
       this.course = data.course;
       this.year = data.year;
     }

     _courseChanged(newValue, oldValue){
       console.log("El valor de course ha cambiado");
       console.log("El valor era " + oldValue);
       console.log("El valor es " + newValue);
     }
   }

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
