<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">


<dom-module id="forgot-password">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="/styles/flaty/bootstrap.min.css">

    <div class="jumbotron" align="left">  
      <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert-heading">¿Olvidaste la contraseña?</h4>
          <p class="mb-0">Para evitar que esto te vuelva a suceder en el futuro, pulsa 
            <a href="https://laguiadelasvitaminas.com/pastillas-para-mejorar-la-memoria/" class="alert-link">aqui</a>.</p>
      </div>
     <paper-input id="email_input"
                  label="email"
                  value="{{email::input}}"
                  required 
                  error-message="Formato de correo no valido"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <iron-icon icon="mail" slot="prefix"></iron-icon>
      </paper-input>
      <br>
      <p class="text-muted">Al pulsar enviar se enviará un correo para el reseteo a la dirección indicada.</p>
      <div align="center"> 
        <button type="button" class="btn btn-success btn-lg" on-click="do_reset_request">Aceptar</button>
      </div>
    </div>

    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Atencion!</h4>
        <p class="mb-0">{{err_message}} <a href="#" class="alert-link">aqui</a>.</p>
    </div>

    <iron-ajax
      id = "senderResetEmail"
      url = "http://localhost:3000/moneyTracker/v1/forgotpassword"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageResetResponse"
      on-error = "manageErrorResponse">

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class ForgotPassword extends Polymer.Element {
      static get is() { return 'forgot-password'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }
      do_reset_request() {
        console.log("boton pulsado");
        var email_json = {
          "email" : this.email
        }
        this.$.senderResetEmail.body = JSON.stringify(email_json);
        this.$.senderResetEmail.generateRequest();
        console.log("Peticion enviada");
      };
      manageResetResponse(data){
        console.log('manageResetResponse' + data);
        // Mostrar mensaje de error
      };
      manageErrorResponse(e){
        console.log('manageErrorResponse' + e);
        // Mostrar mensaje de error
      }
    };

    window.customElements.define(ForgotPassword.is, ForgotPassword);
  </script>
</dom-module>
