<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="posicion-global">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <!--input type="Number" placeholder="Identificador de usuario" value="{{client_id::input}}">
    <button class="btn-success" on-click="findContract"> find </button-->

    <h1> Listado de contratos </h1>
    <template is="dom-repeat" items="{{items}}">
      <div class="row">
        <h4 class="col-md-5"> Cuenta: {{item.alias}}</h4>
        <h4 class="col-md-4">{{item.iban}}  </h4>
        <h4 class="col-md-3"> Saldo {{item.balance}} {{item.currency}} </h4>
      </div>
    </template>

    <!-- collapse train-->
    <simple-expand-collapse>
        <div class="content">
          Ejemplo de texto colapsado
        </div>
      </simple-expand-collapse>

    <iron-ajax
      id = "doGetContracts"
      method = "GET"
      url = "http://localhost:3000/money_tracker/v1/user/{{client_id}}/contracts"
      handle-a = "json"
      on-response = "showContracts">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PosicionGlobal extends Polymer.Element {
      static get is() { return 'posicion-global'; }
      static get properties() {
        return {
          contract_id: {
            type: Number
          },
          client_id: {
            type: Number
          },
          iban: {
            type: String
          },
          alias : {
            type: String
          },
          balance : {
            type: Number
          },
          currency: {
            type: String
          }
        };
      };

      showData(data) {
        // console.log(data);
        console.log("showData: ");
        console.log(data.detail.response);
        this.items = data.detail.response;
        console.log("showData: " + this.items[0]);

      };

      findContract() {
        console.log("boton findContract pulsado");
        this.$.doGetContract.generateRequest();
        console.log("Peticion enviada");
      };
    }

    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>
