<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-contratos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="/styles/flaty/bootstrap.min.css">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listado de contratos</h4>
    
          <!-- Actualización de los contratos -->
          <table class="table table-hover">
            <!-- Cabeceta -->
            <thead>
              <tr class="table-success">
                <th scope="col">Iban</th>
                <th scope="col">Alias</th>
                <th scope="col">Balance</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <!-- Contenido -->
            <tbody>
              <template is="dom-repeat" items="[[contracts]]">
                <tr>
                  <th scope="row">{{item.iban}}</th>
                  <td>{{item.alias}}</td>
                  <td>{{item.balance}}</td>
                  <td>
                    <fieldset>
                      <div class="form-group">
                        <select class="custom-select">
                          <option selected="">Acciones</option>
                          <option value="1">Clasificar</option>
                          <option value="2">Editar</option>
                          <option value="3">Eliminar</option>
                        </select>
                      </div>
                    </fieldset>
                  </td>
                </tr>  
              </template>
            </tbody>
          </table>  
          <div align="right">
              <a href="#" class="card-link">Añadir cuenta</a>    
          </div>
        </div>
    </div>
    <h5> Fin listado de contratos </h5>
    <!-- incluimos la opción de añadir nuevas cuentas -->
    <iron-ajax
      auto = true
      id = "doGetContracts"
      method = "GET"
      url = "http://localhost:3000/moneyTracker/v1/user/[[client_id]]/contracts"
      handle-a = "json"
      on-response = "showContracts"
      on-iron-ajax-presend = "_prepareAjaxRequest">

  </template>
  
  
  <!-- PARTE OPERATIVA -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorContratos extends Polymer.Element {
      static get is() { return 'visor-contratos'; }
      static get properties() {
        return {
          client_id: {
            type: String
          },
          auth_token: {
            type: String
          },
          contracts: {
            type: Array
          }
        };
      };

      // funcion para tratar el resultado de la consulta de listado de contratos
      showContracts(data) {
        // console.log(data);
        console.log("showContracts: --------");
        console.log(data.detail.response);
        this.contracts = data.detail.response;
        console.log("showContracts: " + this.contracts[0].balance);

      };

      //Funcion para invocar la petición ajax de consulta de contratos
      updateContracts() {
        console.log("boton findContract pulsado");
        this.$.doGetContracts.generateRequest();
        console.log("Peticion enviada");
      };

      // Preejecución de las sentencias ajax... validación de la autorización (token y cliente)
      _prepareAjaxRequest(){
        this.auth_token = window.sessionStorage.getItem('auth_token');
        console.log('pre-send: ' + this.auth_token);
        this.$.doGetContracts.headers["auth_token"] = this.auth_token;
      }
    }

    window.customElements.define(VisorContratos.is, VisorContratos);
  </script>
</dom-module>
